<h1>
  Sin te auctoritas commovebat, nobisne omnibus et Platoni ipsi nescio quem
  illum anteponebas?
</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Incommoda autem et
  commoda-ita enim estmata et dustmata appello-communia esse voluerunt, paria
  noluerunt. Quamquam id quidem licebit iis existimare, qui legerint.
  <b>Restatis igitur vos;</b> Primum in nostrane potestate est, quid
  meminerimus? Duo Reges: constructio interrete. Cum id quoque, ut cupiebat,
  audivisset, evelli iussit eam, qua erat transfixus, hastam. Ergo in gubernando
  nihil, in officio plurimum interest, quo in genere peccetur. Et hanc quidem
  primam exigam a te operam, ut audias me quae a te dicta sunt refellentem.
</p>

<h1>Duo enim genera quae erant, fecit tria.</h1>

<p>
  Quamquam non negatis nos intellegere quid sit voluptas, sed quid ille dicat.
  Omnes enim iucundum motum, quo sensus hilaretur.
  <mark>Esse enim quam vellet iniquus iustus poterat inpune.</mark> Levatio
  igitur vitiorum magna fit in iis, qui habent ad virtutem progressionis
  aliquantum. Ita prorsus, inquam; Expectoque quid ad id, quod quaerebam,
  respondeas.
</p>

<h3>Sed in rebus apertissimis nimium longi sumus.</h3>

<p>
  <mark>Ergo hoc quidem apparet, nos ad agendum esse natos.</mark> Sed tu istuc
  dixti bene Latine, parum plane. Nec vero alia sunt quaerenda contra Carneadeam
  illam sententiam. Non enim, si malum est dolor, carere eo malo satis est ad
  bene vivendum. Neque enim disputari sine reprehensione nec cum iracundia aut
  pertinacia recte disputari potest.
</p>

<blockquote cite="http://loripsum.net">
  Ut vero conservetur omnis homini erga hominem societas, coniunctio, caritas,
  et emolumenta et detrimenta, quae felmata et blammata appellant, communia esse
  voluerunt;
</blockquote>

<p>
  Quod totum contra est. Hic nihil fuit, quod quaereremus. Ita multo sanguine
  profuso in laetitia et in victoria est mortuus. Sint modo partes vitae beatae.
  Sic exclusis sententiis reliquorum cum praeterea nulla esse possit, haec
  antiquorum valeat necesse est. Quid enim tanto opus est instrumento in optimis
  artibus comparandis? Quae duo sunt, unum facit.
  <a href="http://loripsum.net/" target="_blank"
    >Quid est igitur, inquit, quod requiras?</a
  >
  Quid, cum fictas fabulas, e quibus utilitas nulla elici potest, cum voluptate
  legimus? Sed tu istuc dixti bene Latine, parum plane. Et quidem iure fortasse,
  sed tamen non gravissimum est testimonium multitudinis. Ex quo, id quod omnes
  expetunt, beate vivendi ratio inveniri et comparari potest.
</p>

<p>
  Scio enim esse quosdam, qui quavis lingua philosophari possint; Et ille
  ridens: Video, inquit, quid agas; Ita redarguitur ipse a sese, convincunturque
  scripta eius probitate ipsius ac moribus. Summum a vobis bonum voluptas
  dicitur. Hic ego: Pomponius quidem, inquam, noster iocari videtur, et fortasse
  suo iure. <b>Laboro autem non sine causa;</b> Falli igitur possumus.
  <b>Eam stabilem appellas.</b>
</p>

<h2>Eiuro, inquit adridens, iniquum, hac quidem de re;</h2>

<p>
  <a href="http://loripsum.net/" target="_blank">Respondeat totidem verbis.</a>
  <a href="http://loripsum.net/" target="_blank"
    >Qua tu etiam inprudens utebare non numquam.</a
  >
  <i>Sed residamus, inquit, si placet.</i> Quis animo aequo videt eum, quem
  inpure ac flagitiose putet vivere? Ut scias me intellegere, primum idem esse
  dico voluptatem, quod ille don. Terram, mihi crede, ea lanx et maria deprimet.
  <a href="http://loripsum.net/" target="_blank"
    >Quid autem habent admirationis, cum prope accesseris?</a
  >
</p>

<ul>
  <li>Quam ob rem tandem, inquit, non satisfacit?</li>
  <li>Summum ením bonum exposuit vacuitatem doloris;</li>
  <li>Dolere malum est: in crucem qui agitur, beatus esse non potest.</li>
  <li>Quod autem ratione actum est, id officium appellamus.</li>
  <li>
    Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi
    nominis.
  </li>
</ul>

<h6>Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri.</h6>

<p>
  <b>Quae cum dixisset paulumque institisset, Quid est?</b> Sed tu istuc dixti
  bene Latine, parum plane.
  <b>Traditur, inquit, ab Epicuro ratio neglegendi doloris.</b> Quae hic rei
  publicae vulnera inponebat, eadem ille sanabat. Quid autem habent
  admirationis, cum prope accesseris? Num igitur eum postea censes anxio animo
  aut sollicito fuisse?
  <a href="http://loripsum.net/" target="_blank">An haec ab eo non dicuntur?</a>
  Longum est enim ad omnia respondere, quae a te dicta sunt. At, si voluptas
  esset bonum, desideraret.
  <a href="http://loripsum.net/" target="_blank"
    >Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse;</a
  >
</p>

<dl>
  <dt><dfn>Magna laus.</dfn></dt>
  <dd>Illis videtur, qui illud non dubitant bonum dicere -;</dd>
  <dt><dfn>Bork</dfn></dt>
  <dd>
    Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi;
  </dd>
  <dt><dfn>Nos commodius agimus.</dfn></dt>
  <dd>
    Alterum autem genus est magnarum verarumque virtutum, quas appellamus
    voluntarias, ut prudentiam, temperantiam, fortitudinem, iustitiam et
    reliquas eiusdem generis.
  </dd>
  <dt><dfn>Verum esto;</dfn></dt>
  <dd>Expectoque quid ad id, quod quaerebam, respondeas.</dd>
  <dt><dfn>Verum audiamus.</dfn></dt>
  <dd>
    In quibus doctissimi illi veteres inesse quiddam caeleste et divinum
    putaverunt.
  </dd>
  <dt><dfn>Perge porro;</dfn></dt>
  <dd>Claudii libidini, qui tum erat summo ne imperio, dederetur.</dd>
  <dt><dfn>Bork</dfn></dt>
  <dd>
    Quid affers, cur Thorius, cur Caius Postumius, cur omnium horum magister,
    Orata, non iucundissime vixerit?
  </dd>
</dl>

<ul>
  <li>Quamquam te quidem video minime esse deterritum.</li>
  <li>
    Ergo instituto veterum, quo etiam Stoici utuntur, hinc capiamus exordium.
  </li>
  <li>
    Gracchum patrem non beatiorem fuisse quam fillum, cum alter stabilire rem
    publicam studuerit, alter evertere.
  </li>
  <li>
    Facit igitur Lucius noster prudenter, qui audire de summo bono potissimum
    velit;
  </li>
</ul>

<pre>
Ergo instituto veterum, quo etiam Stoici utuntur, hinc
capiamus exordium.

Summum ením bonum exposuit vacuitatem doloris;
</pre>

<pre>
Nec tamen exprimi verbum e verbo necesse erit, ut
interpretes indiserti solent, cum sit verbum, quod idem
declaret, magis usitatum.

Nos paucis ad haec additis finem faciamus aliquando;
</pre>

<p>
  Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare; Dulce amarum,
  leve asperum, prope longe, stare movere, quadratum rotundum.
  <b>Ex rebus enim timiditas, non ex vocabulis nascitur.</b> Quae diligentissime
  contra Aristonem dicuntur a Chryippo.
  <mark>Nihilo beatiorem esse Metellum quam Regulum.</mark> Non minor, inquit,
  voluptas percipitur ex vilissimis rebus quam ex pretiosissimis.
</p>

<pre>
Quod idem Peripatetici non tenent, quibus dicendum est, quae
et honesta actio sit et sine dolore, eam magis esse
expetendam, quam si esset eadem actio cum dolore.

Nos autem non solum beatae vitae istam esse oblectationem
videmus, sed etiam levamentum miseriarum.
</pre>

<p><img src="https://picsum.photos/1920/1080/?rand=3" /></p>

<p>
  Beatus autem esse in maximarum rerum timore nemo potest.
  <mark>Comprehensum, quod cognitum non habet?</mark> Quod equidem non
  reprehendo; <mark>Mihi, inquam, qui te id ipsum rogavi?</mark>
  <a href="http://loripsum.net/" target="_blank"
    >Gerendus est mos, modo recte sentiat.</a
  >
  Aliter enim explicari, quod quaeritur, non potest.
</p>

<dl>
  <dt><dfn>Quid Zeno?</dfn></dt>
  <dd>Et quidem, inquit, vehementer errat;</dd>
  <dt><dfn>Quonam, inquit, modo?</dfn></dt>
  <dd>
    Tamen aberramus a proposito, et, ne longius, prorsus, inquam, Piso, si ista
    mala sunt, placet.
  </dd>
  <dt><dfn>Ita prorsus, inquam;</dfn></dt>
  <dd>Quis, quaeso, illum negat et bonum virum et comem et humanum fuisse?</dd>
  <dt><dfn>Si quae forte-possumus.</dfn></dt>
  <dd>
    Si enim, ut mihi quidem videtur, non explet bona naturae voluptas, iure
    praetermissa est;
  </dd>
</dl>

<p>
  Non igitur de improbo, sed de callido improbo quaerimus, qualis Q. Plane idem,
  inquit, et maxima quidem, qua fieri nulla maior potest. Age sane, inquam.
  Vide, quantum, inquam, fallare, Torquate. Tu vero, inquam, ducas licet, si
  sequetur; Apparet statim, quae sint officia, quae actiones. Sine ea igitur
  iucunde negat posse se vivere? Atqui iste locus est, Piso, tibi etiam atque
  etiam confirmandus, inquam;
</p>

<dl>
  <dt><dfn>Immo alio genere;</dfn></dt>
  <dd>An potest, inquit ille, quicquam esse suavius quam nihil dolere?</dd>
  <dt><dfn>Sullae consulatum?</dfn></dt>
  <dd>
    An, partus ancillae sitne in fructu habendus, disseretur inter principes
    civitatis, P.
  </dd>
  <dt><dfn>Quonam, inquit, modo?</dfn></dt>
  <dd>Dat enim intervalla et relaxat.</dd>
</dl>

<ol>
  <li>Neque solum ea communia, verum etiam paria esse dixerunt.</li>
  <li>Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt;</li>
  <li>
    Et quidem illud ipsum non nimium probo et tantum patior, philosophum loqui
    de cupiditatibus finiendis.
  </li>
  <li>At iste non dolendi status non vocatur voluptas.</li>
</ol>

<blockquote cite="http://loripsum.net">
  Mihi quidem etiam lautius videtur, quod eligitur, et ad quod dilectus
  adhibetur -, sed, cum ego ista omnia bona dixero, tantum refert quam magna
  dicam, cum expetenda, quam valde.
</blockquote>

<p><img src="https://picsum.photos/1920/1080/?rand=4" /></p>

<ol>
  <li>
    At quicum ioca seria, ut dicitur, quicum arcana, quicum occulta omnia?
  </li>
  <li>De ingenio eius in his disputationibus, non de moribus quaeritur.</li>
  <li>Solum praeterea formosum, solum liberum, solum civem, stultost;</li>
  <li>Aut unde est hoc contritum vetustate proverbium: quicum in tenebris?</li>
  <li>
    Nihilne te delectat umquam -video, quicum loquar-, te igitur, Torquate,
    ipsum per se nihil delectat?
  </li>
  <li>
    An dubium est, quin virtus ita maximam partem optineat in rebus humanis, ut
    reliquas obruat?
  </li>
</ol>

<h5>Graccho, eius fere, aequalí?</h5>

<p>
  Urgent tamen et nihil remittunt. Neque enim disputari sine reprehensione nec
  cum iracundia aut pertinacia recte disputari potest. Sit ista in Graecorum
  levitate perversitas, qui maledictis insectantur eos, a quibus de veritate
  dissentiunt. Cum ageremus, inquit, vitae beatum et eundem supremum diem,
  scribebamus haec. Sequitur disserendi ratio cognitioque naturae; Itaque eos id
  agere, ut a se dolores, morbos, debilitates repellant.
</p>

<blockquote cite="http://loripsum.net">
  Sed dum efficere vultis beatum sapientem, cum maximas animo voluptates
  percipiat omnibusque partibus maiores quam corpore, quid occurrat non videtis.
</blockquote>

<ol>
  <li>De illis, cum volemus.</li>
  <li>Quod ea non occurrentia fingunt, vincunt Aristonem;</li>
  <li>
    Cur fortior sit, si illud, quod tute concedis, asperum et vix ferendum
    putabit?
  </li>
  <li>
    Fortes viri voluptatumne calculis subductis proelium ineunt, sanguinem pro
    patria profundunt, an quodam animi ardore atque impetu concitati?
  </li>
</ol>

<p><img src="https://picsum.photos/1920/1080/?rand=5" /></p>

<h4>
  Non quaero, quid dicat, sed quid convenienter possit rationi et sententiae
  suae dicere.
</h4>

<p>
  Sin laboramus, quis est, qui alienae modum statuat industriae? Qui autem de
  summo bono dissentit de tota philosophiae ratione dissentit.
  <i>Quid ergo hoc loco intellegit honestum?</i> Bork Aut haec tibi, Torquate,
  sunt vituperanda aut patrocinium voluptatis repudiandum. Refert tamen, quo
  modo.
</p>

<p>Tu quidem reddes; Quod ea non occurrentia fingunt, vincunt Aristonem;</p>

<p>
  Non autem hoc: igitur ne illud quidem. Sin aliud quid voles, postea. Magni
  enim aestimabat pecuniam non modo non contra leges, sed etiam legibus partam.
  Roges enim Aristonem, bonane ei videantur haec: vacuitas doloris, divitiae,
  valitudo; Utilitatis causa amicitia est quaesita. Istic sum, inquit. Qui ita
  affectus, beatum esse numquam probabis;
  <i>Nihil enim iam habes, quod ad corpus referas;</i>
</p>

<ul>
  <li>Quis non odit sordidos, vanos, leves, futtiles?</li>
  <li>Haec para/doca illi, nos admirabilia dicamus.</li>
  <li>
    Graecum enim hunc versum nostis omnes-: Suavis laborum est praeteritorum
    memoria.
  </li>
</ul>

<p>
  <i>Quid, si etiam iucunda memoria est praeteritorum malorum?</i> Ex quo
  intellegitur officium medium quiddam esse, quod neque in bonis ponatur neque
  in contrariis. In eo enim positum est id, quod dicimus esse expetendum.
  <b>Qui ita affectus, beatum esse numquam probabis;</b>
  <a href="http://loripsum.net/" target="_blank">Nunc agendum est subtilius.</a>
  Sed quid ages tandem, si utilitas ab amicitia, ut fit saepe, defecerit? An hoc
  usque quaque, aliter in vita? At ille pellit, qui permulcet sensum voluptate.
</p>
